 body {
        margin: 0px;
        text-align: center;
        background-color: rgb(0, 0, 0);
        
    }
    img {
        width: 50%;
        height: 40%;
        margin-top: 20px;
        transition: 0.4s ease;

    }   
    button {
        padding: 10px 20px;
        font-size: 16px;
    }
    button:hover {
        background-color: rgb(235, 232, 57);
        cursor: pointer;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }  